/* @import "../components/css/mainDiv.css";
@import "../components/css/headerDiv.css"; */

.container {
  /* min-width: 402px; */
  margin: 20px;
}

.headerDiv {
  background-color: #13124b;
  color: white;
  font-size: 12px;
  margin: auto;
  max-width: 50%;
  opacity: 1;
  padding: 10px;
  text-align: center;
}

.timeDateDependents > p {
  font-size: 17px;
  /* font-weight: bold; */
  margin: 0px;
  padding: 5px;
}

.selPara {
  padding-right: 5px;
}

.sideBySide {
  display: flex;
  flex-wrap: wrap;
  /* border: 0; */
  /* padding: 0;
  margin: 0; */
}

.sideBySide hr {
  width: 75%;
}

.col1,
.col2 {
  background-color: #13124b;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  margin: 2%;
  margin-bottom: 0;
  opacity: 0.95;
  padding-bottom: 30px;
  position: relative;
  text-align: center;
}

.col1 {
  flex: 1 1 160px;
  /* margin: 20px, 5px, 0; */
}

.col1 ul {
  display: table;
  margin: 0 auto;
}

.col1 ul li {
  text-align: left;
}

.col2 {
  flex: 1 1 300px;
  justify-content: space-around;
}

/* @media (min-width: 420px) {
  .sideBySide {
    -webkit-flex-direction: column;
    flex-direction: column;
  } */
/* div[col1] {
    order: 1;
    width: 100%; */
/* }
/* div[col2] {
    flex: 5;
  }
} */

.footer {
  background-color: #13124b;
  bottom: 0;
  color: white;
  left: 0;
  margin-bottom: -16px;
  min-height: 60px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 100%;
}
