/* @import "../components/css/mainDiv.css";
@import "../components/css/headerDiv.css"; */

/* .navBar {
  margin-top: -16px;
  min-height: 60px;
  background-color: blue;
} */

/* .headerPara {
  margin: 0;
} */

.container {
  /* min-width: 402px; */
  margin: 40px;
  /* align-items: center;
  justify-content: center; */
  /* display: -webkit-flex;  for testing */
  /* display: flex;  for testing */
  /* padding-right: 10px; */
  /* flex-direction: column;
  flex-wrap: wrap; */
  /* width: 100%; messes up formatting, test only */
  /* height: 1100px; */
}

.headerDiv {
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: #13124b;
  opacity: 1;
}

/* .title {
  padding: 0;
} */

.timeDateDependents > p {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 5px;
}

.selPara {
  padding-right: 5px;
}

.sideBySide {
  display: flex;
  flex-wrap: wrap;
}

.sideBySide hr {
  width: 75%;
}

.col1 {
  color: white;
  background-color: #13124b;
  opacity: 0.95;
  /* margin: 20px, 5px, 0; */
  margin-top: 20px;
  margin: 5%;
  margin-bottom: 0;
  position: relative;
  font-size: 17px;
  text-align: center;
  padding-bottom: 30px;
  flex: 1 1 200px;
}

.col1 ul {
  display: table;
  margin: 0 auto;
}

.col1 ul li {
  text-align: left;
}

.col2 {
  background-color: #13124b;
  opacity: 0.95;
  position: relative;
  margin-top: 20px;
  font-size: 20px;
  padding-bottom: 30px;
  flex: 1 1 300px;
  margin: 5%;
  margin-bottom: 0;
  justify-content: space-around;
}

/* @media (min-width: 420px) {
  .sideBySide {
    -webkit-flex-direction: column;
    flex-direction: column;
  } */
/* div[col1] {
    order: 1;
    width: 100%; */
/* }
/* div[col2] {
    flex: 5;
  }
} */

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: -16px;
  min-height: 60px;
  color: white;
  background-color: #13124b;
  text-align: center;
  padding: 5px;
}
