/* @import "../components/css/mainDiv.css";
@import "../components/css/headerDiv.css"; */

.navBar {
  /* margin-top: -16px; */
  min-height: 60px;
  background-color: blue;
}

.headerPara {
  margin: 0;
}

.headerDiv {
  /* padding: 30px; */
  text-align: center;
  font-size: 20px;
  color: white;
}

.mainDiv {
  margin: 30px;
}

.title {
  padding: 0;
}

.timeDateDependents > p {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.selPara {
  padding-right: 5px;
}
