body {
  max-width: 90%;
  margin: auto;
  padding: 0;
  /* background-color: blueviolet; */
  font-family: "Roboto", Montserrat, Open Sans;
  background-image: url("https://ak2.picdn.net/shutterstock/videos/21851902/thumb/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*For parallax effect */
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* code {
  font-family: sans-serif, monospace;
} */
